<h1><%= title %></h1>
<p>Daniel Bailo</p>
<div style='width: 150px; margin: 0 auto;'>
    <img width="100%" src="//scontent-arn2-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1002813_10151658067658675_1737435799_n.jpg?oh=0649afb07213617a913b7852e7d4ecee&oe=5614530D">
</div>
